<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/body.css') }}">
</head>
<body>
    <div class="login-box">
        <div class="login-header">
            <header><u><b>Forgot Password</b></u></header>
        </div>

        <!-- Display Flash Messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="flash-message {{ category }}">{{ message }}</div>
            {% endfor %}
          {% endif %}
        {% endwith %}

        <form method="POST" action="{{ url_for('forgot_password') }}">
            <div class="input-box">
                <p>Enter your email address and we'll send you a link to reset your password</p>
                <input type="email" name="email" class="input-field" placeholder="Email" required>
            </div>
            <div class="input submit">
                <button type="submit" class="submit-btn">Reset</button>
            </div>
        </form>
    </div>
</body>
</html>
